{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    {% for message in messages  %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
<div class="card shadow">
<h5 class="card-header">Prescription Form</h5>
<div class="card-body">
    
    <form class="row g-3" method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            {{form.drug_name|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.dosage|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.route|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.frequency|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.amount_dispensed|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.no_of_refills|as_crispy_field}}
        </div>
        <div class="col-md-7">
            {{form.expiration_date|as_crispy_field}}
        </div>
        <div class="col-md-5 mt-5">
            {{form.active|as_crispy_field}}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
</div>
<br>

{% endblock content %}