{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css"> -->


<div class="container-fluid">
    {% for message in messages  %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
        
    </div>
    {% endfor %}
<div class="card shadow">
<h5 class="card-header">Patient Information</h5>
<div class="card-body">
    <div class="row">
        <div class="col-sm-7">
            <h5 class="card-title">{{patient.l_name}}, {{patient.f_name}}</h5>
            <ul class="list-group list-group-horizontal-sm" style="font-size: 12px;">
                <li class="list-group-item">Age : <br>{{patient.age}} yrs old</li>
                <li class="list-group-item">Birthdate : <br>{{patient.bday}}</li>
                <li class="list-group-item">Contact : <br>{{patient.contact}}</li>
                <li class="list-group-item">Email : <br>{{patient.email}}</li>
            </ul>
        </div>
        <div class="col-sm-5">
            
        </div>
    </div>
    
</div>
</div>
<br>
<div class="card shadow prescription-card"  style="font-size: 13.5px; margin-bottom: 5rem;">

    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <button class=" btn nav-link button_active active " href="#">Active Prescription</button>
            </li>
            <li class="nav-item">
                <button class="btn nav-link button_inactive" href="#">Prescription History </button>
            </li>
            <li class="nav-item">
                <button class="btn nav-link notes_active" href="#">Prescription Notes </button>
            </li>
            <li>
                <a class="text-primary nav-link" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
        
    </div>
    <div class="card-body">
        <table id="example" class="table table-striped table-hover table-bordered text-center table-sm dt-responsive nowrap" style="width:100%">
            <thead>
                <tr class="text-white" style="background-color: #3e64ff;">
                    
                    <th scope="col">Drug Name</th>
                    <th scope="col">Dosage</th>
                    <th scope="col">Route</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Amount Dispensed</th>
                    <th scope="col">No of Refills</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            
            <tbody>
                {% for list in result %}
                {% if list.active == True %}
                <tr>
                    
                    <td>{{list.drug_name}}</td>
                    <td>{{list.dosage}}</td>
                    <td>{{list.route}}</td>
                    <td>{{list.frequency}}</td>
                    <td>{{list.amount_dispensed}}</td>
                    <td>{{list.no_of_refills}}</td>
                    
                    {% if list.expiration_date <= today|date:'Y-m-d'%}
                        <td class='bg-danger text-white'>{{list.expiration_date}} <i class="fas fa-info-circle"
                                data-toggle="tooltip" data-placement="top" title="Medicine was already expired! Remove it from the list"></i></td>
                    {% else %}
                        <td>{{list.expiration_date}}</td>
                    {% endif %}
                        
                    <td>{{list.date_created}}</td>
                    <td>
                            
                        <span class="badge badge-primary">Active</span>
                        
                    </td>
                    <td>
                        <a href="{% url 'prescriptions:prescription_active' pk=pk pk2=list.id %}" class="btn btn-outline-secondary btn-sm" style="font-size: 12px;"><i class="fas fa-minus"></i></a>
                        <a href="{% url 'prescriptions:prescription_delete' pk=pk pk2=list.id %}" class="btn btn-danger btn-sm" style="font-size: 12px;"><i class="far fa-trash-alt"></i></a>
                        
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>

           
            
        </table>
        
    </div>
</div>

<div class="card shadow prescription-history-card"  style="font-size: 13.5px; margin-bottom: 5rem; display: none;">

    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link  button_active" href="#">Active Prescription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-danger button_inactive active" href="#">Prescription History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link notes_active" href="#">Prescription Notes</a>
            </li>
            <li>
                <a class="text-primary nav-link" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
        
    </div>
    <div class="card-body">
        <table id="prescription" class="table table-striped table-hover table-bordered text-center table-sm dt-responsive nowrap" style="width:100%">
            <thead>
                <tr class="text-white" style="background-color: #3e64ff;">
                    
                    <th scope="col">Drug Name</th>
                    <th scope="col">Dosage</th>
                    <th scope="col">Route</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Amount Dispensed</th>
                    <th scope="col">No of Refills</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            {% for history in result %}
            {% if history.active == False %}
            <tbody>
                <tr>
                    
                    <td>{{history.drug_name}}</td>
                    <td>{{history.dosage}}</td>
                    <td>{{history.route}}</td>
                    <td>{{history.frequency}}</td>
                    <td>{{history.amount_dispensed}}</td>
                    <td>{{history.no_of_refills}}</td>
                    <td>{{history.expiration_date}}</td>
                    <td>{{history.date_created}}</td>
                    <td>
                        
                        
                            <span class="badge badge-danger">Not Active</span>
                        
                        
                            
                    </td>
                </tr>
                
            </tbody>
            {% endif %}
            {% endfor %}
        </table>
    
    </div>
</div>

<div class="card shadow notes-card"  style="font-size: 13.5px; margin-bottom: 5rem; display: none;">

    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <button class=" btn nav-link button_active " href="#">Active Prescription</button>
            </li>
            <li class="nav-item">
                <button class="btn nav-link button_active button_inactive" href="#">Prescription History </button>
            </li>
            <li class="nav-item">
                <button class="btn nav-link bg-warning active notes_active" href="#">Prescription Notes </button>
            </li>
            <li>
                <a class="text-primary nav-link" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i></a>
            </li>
        </ul>
        
    </div>
    <div class="card-body">
        <table id="prescription" class="table table-striped table-hover table-bordered text-center table-sm dt-responsive nowrap" style="width:100%">
            <thead>
                <tr class="text-white" style="background-color: #3e64ff;">
                    
                    <th scope="col">Drug Name</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            {% for notes in result %}
            <tbody>
                <tr>
                    
                    <td>{{notes.drug_name}}</td>
                    <td>{{notes.date_created}}</td>
                    <td>{{notes.notes}}</td>
                    
                </tr>
                
            </tbody>
            {% endfor %}
        </table>
        
    </div>
</div>

</div>
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Prescription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form  method="POST">
    <div class="modal-body">
        {% csrf_token %}
         {{ form.errors }} 
            <div class="row">
            
            <div class="col-md-6">
                {{form.drug_name|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.dosage|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.route|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.frequency|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.amount_dispensed|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.no_of_refills|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.expiration_date|as_crispy_field}}
            </div>
            <div class="col-md-6 mt-5">
                {{form.active|as_crispy_field}}
            </div>
            <div class="col-md-12">
                {{form.notes|as_crispy_field}}
            </div>
            </div>
    
    </div>
    <div class="modal-footer">
        <a href="{% url 'prescriptions:prescription_list_view' pk=pk %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    </form>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>


{% endblock content %}

