
  <!-- Sidebar  -->
  <nav id="sidebar">
    

    <ul class="list-unstyled components">
        <p>User Detail Here</p>
        <li>
            <a href="">Prescription</a>
        </li>
        <li>
            <a href="#AppointmentMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Appointment</a>
            <ul class="collapse list-unstyled" id="AppointmentMenu">
                <li>
                    <a href="">Calendar</a>
                </li>
                <li>
                    <a href="">Create an appointment</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">Office Visit</a>
        </li>
        <li>
            <a href="">Video Call</a>
        </li>
        <li>
            <a href="">Organization</a>
        </li>
        
    </ul>
    <ul class="list-unstyled components" style="margin-top: auto;">
        <li>
            <a href="">Settings</a>

        
        </li>
    </ul>
    
</nav>

